* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* ---------- HEADER ---------- */
header {
  display: flex;
  justify-content: space-between;
}

/* LEFT HEADER */
.header-left {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 15px;
}

.header-left a:first-child {
  color: blue;
}

.header-left a:last-child {
  color: darkgray;
}

/* MIDDLE HEADER */
.header-middle a {
  font-size: 60px;
  font-weight: 1000;
  color: black;
}

/* RIGHT HEADER */
.header-right {
  background-color: red;
  width: 240px;
  height: 40px;
  padding: 5px 5px 0 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

.header-right a {
  color: white;
  font-weight: bolder;
}

/* ---------- NAV BAR ---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 10px;
}

/* LEFT NAV BAR */
.nav-bar-left ul {
  display: flex;
  align-items: center;
}

/* RIGHT NAV BAR */
.nav-bar-right ul {
  display: flex;
}

/* For Icons in RIGHT NAV BAR */
.signin,
.search {
  display: flex;
}

.signin svg,
.search svg {
  margin-right: 5px;
}

/* NAV BAR items */
ul li {
  margin-right: 15px;
}

ul li a {
  color: black;
  font-weight: bold;
}

.leftnavbar-items2 {
  color: blue;
}

.nav-bar-left ul li a:hover {
  color: blue;
  border-bottom: 6px solid black;
  padding-bottom: 6px;
}

.signin:hover,
.search:hover {
  color: darkgray;
  text-decoration: underline;
}
